---
import Layout from '../layouts/Layout.astro';
import MainHeader from '../components/MainHeader.astro';
import Banner from '../components/Banner.astro';
import RocketList from '../components/RocketList.astro';
import MainFooter from '@components/MainFooter.astro';
---

<Layout title="Rocket Explorer">
	<header class="relative w-full">
		<MainHeader />
		<Banner />
	</header>

	<main class="relative w-full mb-4">
		<RocketList />
	</main>

	<footer class="relative w-full py-5">
		<MainFooter />
	</footer>
</Layout>
