<div class="container mx-auto text-center">
    <p class="text-gray-500 text-sm">© 2023 Rocket Explorer. All rights reserved.</p>
    <p class="mt-1 text-gray-500 text-sm">Website created by <a href="https://github.com/di4m0nds" class="text-indigo-500 hover:underline">di4m0nds</a></p>
</div>
